.container-fluid {
    overflow-x: hidden;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 40px;
}

.map-icon {
    height: 50px;
    width: 50px;
    border: 2px solid gray;
    border-radius: 5px;
    opacity: 0.5
}

.map-icon.selected {
    opacity: 1;
}
